{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memar Signup Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  </head>
  <body>
    {% block main %} {% endblock %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/javascripts.js' %}"></script>
  </body>
</html>
