{% extends 'base.html' %} {% block main %} {% for message in messages %}
<div id="alert" class="alert {{ message.tags }} alert-dismissible" role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    onclick="this.parentElement.style.display='none';"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message|safe }}
</div>
{% endfor %}
<div class="login-page">
  <section class="login-form-and-more">
    <span class="new-member-login">
      Not a member?
      <a href="{% url 'register' %}">Sign up Now</a>
    </span>
    <div class="sign-in-form">
      <h1>Sign in to Memar</h1>
      <p>Enter your new password that you want!</p>
      <form
        method="post"
        class="pass_reset_form"
        action="{% url 'password_reset' %}"
      >
        {% csrf_token %}
        <input type="hidden" name="passconfirm" value="True" />
        <label for="password">New Password</label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="New Password"
          required
          pattern="(?=.*\d)(?=.*[a-z]).{8,}"
          autocomplete="off"
          title="Must contain at least one  number and at least 8 or more characters"
        />

        <br />
        <label for="password2">Repeat New Password</label>
        <input
          id="password2"
          type="password"
          name="password2"
          placeholder="Reapit it ..."
          required
          pattern="(?=.*\d)(?=.*[a-z]).{8,}"
          autocomplete="off"
          title="Must contain at least one  number and at least 8 or more characters"
        />

        <button class="passreset-btn">Send Reset Instructions</button>
      </form>
    </div>
  </section>
  <section class="artwork">ss</section>
</div>
{% endblock %}
