{% extends 'base.html' %} {% block main %} {% for message in messages %}
<div id="alert" class="alert {{ message.tags }} alert-dismissible" role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    onclick="this.parentElement.style.display='none';"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message|safe }}
</div>
{% endfor %}

<div class="login-page">
  <section class="login-form-and-more">
    <span class="new-member-login">
      Not a member?
      <a href="{% url 'register' %}">Sign up Now</a>
    </span>
    <div class="sign-in-form">
      <h1>Sign in to Memar</h1>
      <p>
        Enter the email address you used when you joined and we’ll send you
        instructions to reset your password.
      </p>
      <p>
        For security reasons, we do NOT store your password. So rest assured
        that we will never send your password via email.
      </p>
      <form
        method="post"
        class="pass_reset_form"
        action="{% url 'accounts:password_reset' %}"
      >
        {% csrf_token %}
        <input type="hidden" name="resetPassword" value="True" />
        <label for="email">email:</label>
        <input id="email" type="text" name="email" placeholder="email" />
        <button class="passreset-btn">Send Reset Instructions</button>
      </form>
    </div>
  </section>
  <section class="artwork">ss</section>
</div>
{% endblock %}
